* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 5fr;
    background-color: rgb(224, 224, 224);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 1/1/1/-1;
    background-color: white;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 200px;
    width: auto;
    padding: 10px;
    color: white;
    background-color: rgb(98, 98, 167);
    border-radius: 8px;
}

.remove {
    background-color: red;
}

.card button {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(177, 176, 176);
}

.btn-light-green {
    background-color: lightgreen;
}

.btn-light-red {
    background-color: rgb(245, 82, 82);
}